In [14]:
#Q1

my_variable = 17.6
print(type(my_variable))

my_variable = True 
print(type(my_variable))

my_variable = 'name'
print(type(my_variable))

my_variable = [1, 2, 3]
print(type(my_variable))

my_variable = (1, 2, 3)
print(type(my_variable))

my_variable = 'None'
print(type(my_variable))

<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'str'>

In [16]:
#Q2
print(6 / (2 + 4))
print(18 % 9)
#print(2 = 2)
print((22 < 5) or (20 == 20))
print(False and not False)
print('COG' in 'COGS 18')

1.0
0
True
False
True

In [1]:
#Q3

cogs18 = ['Devendra', 'Shreenivas', 'Andrew', 'Chau', 'Duolan', 
          'Byungkwon', 'Severine', 'Stephen', 'Zekria']

print(cogs18[-1])
print(cogs18[4:7])

Zekria
['Duolan', 'Byungkwon', 'Severine']

In [20]:
#Q4

my_list = [1, 2, 3]

for value in my_list:
    if value > 0:
        pass
    elif value < 0:
        pass
    else:
        pass

In [2]:
#Q5
def subtraction(num1, num2):
    return num1 - num2

print(subtraction(num1 = 19, num2 = 17))
print(subtraction(19, 17))
print(subtraction(num2 = 3, num1 = 6))
# print(subtraction(num1 = 19, 17))

2
2
3

In [25]:
#Q6A
def state_country(country = 'USA'):
    output = 'I am from ' + country
    return output

In [26]:
#Q6B
state_country()

'I am from USA'

In [27]:
#Q6C
state_country(country = 'outer space')

'I am from outer space'

In [3]:
#Q8A
def sum_tuple(my_tuple):
    total = 0
    for item in my_tuple:
        total += item
    return total

In [4]:
#Q8B
sum_tuple((1, 2, 3))

6

In [5]:
#Q8C
sum_tuple([1, 2, 3])

6

In [38]:
#Q9
import random
print(random.choice([1, 2, 3, 4]))
print(random.choice(range(0, 5)))

#OR

from random import choice
print(choice([1, 2, 3, 4]))
print(choice(range(0, 5)))

3
0
2
4

In [34]:
# Q12A
class BasketballGame():
    
    def __init__(self, home_team, away_team, 
                 home_points, away_points):
        self.home_team = home_team
        self.away_team = away_team
        self.home_points = home_points
        self.away_points = away_points

    def play_game(self):
        if self.home_points > self.away_points:
            out = "Winner: " + self.home_team
        elif self.away_points > self.home_points:
            out = "Winner: " + self.away_team
        else:
            out = "Winner: tie"

        return out

In [39]:
#Q12B
my_game = BasketballGame(home_team = "Warriors",  away_team = "Sixers",  
                         home_points = 100, away_points = 105)
my_game.play_game()

'Winner: Sixers'